*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-sevillana{
    font-family: 'Roboto', sans-serif;
    font-family: 'Sevillana', cursive;
}