*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-sevillana{
    font-family: 'Roboto', sans-serif;
    font-family: 'Sevillana', cursive;
}

body{
    /* overflow: hidden; */
    position: relative;
}
.section{
    padding: 50px 0;
    border-bottom: 2px solid #000;
}
.sec-title{
    background-color: purple;
    color: #fff;
    padding: 10px 50px;
}
.sec-inner-item{
    border-bottom: 5px solid purple;
    /* padding: 2px 0; */
}


/* Side Menu Section Start */
.side-menu{
    width: 300px;
    height: 100vh;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-300px);
}
.open-side-menu{
    position: absolute;
    top: 20px;
    right: -15px;
    font-size: 3rem;
    cursor: pointer;
}


.side-menu ul{
    padding-top: 50px;
}
.side-menu ul li{}
.side-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.4s ease-in-out;
}
.side-menu ul li a::after{
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 30px;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.side-menu ul li a:hover{
    background: #dddddd70;
    padding-left: 15px;
}
.side-menu ul li a:hover::after{
    padding-right: 25px;
    visibility: visible;
}
/* Side Menu Section End */




/* Header Section Start */


/* Header 01 */
.header1{
    padding: 20px 100px;
}
.header1 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header1 ul li{
    list-style: none;
}
.logo1{
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: #000;
    font-weight: 200;
    text-transform: lowercase;
}
.logo1 span{
    text-transform: uppercase;
    font-weight: 600;
    background: #000;
    color: #fff;
    padding: 2px;
    margin-left: 3px;
    border-radius: 3px;
}

.header1 ul li{}
.header1 ul li ul{}
.header1 ul li ul li{}
.header1 ul li ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 0 10px;
}
.header1 ul li ul li a:hover{}


.sub-btn1{
    display: inline-block;
    text-decoration: none;
    color: red;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid red;
    background-image: linear-gradient(#ffffff20 70%, red);
}

hr{
    margin: 20px 0;
}

/* Header 02  */

.header2{
    padding: 20px 100px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.logo2{}
.logo2 a{
    display: inline-block;
    text-decoration: none;
    background: #fff;
    font-family: 400;
    color: #000;
    font-size: 2rem;
    padding: 5px;
    border-radius: 20px 0 20px 0;
}

.header2-menu{}
.header2-menu nav{
    display: flex;
}
.header2-menu nav li{
    list-style: none;
}
.header2-menu nav li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    transition: font-family 0.7s ease-in-out;
    position: relative;
}
.header2-menu nav li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: #fff;
    transition: width 0.7s ease-in-out;
}

.header2-menu nav li a:hover{
    font-family: 'Roboto', sans-serif;
}
.header2-menu nav a:hover::after{
    width: 100%;
}

/* Header 02 sub Menu */
.header2-menu nav > .sub-menu-head{
    position: relative;
}
.sub-menu-body{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: #000;
}

.sub-menu-body li{
    border-bottom: 2px solid #fff;
}

.sub-menu-body li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px!important;
}
.sub-menu-body li a:hover{}

/* Header Section End */